/* Global stylings */

/* Colors */
	:root{
		--amarillo: #DEC733;
		--light: #fff;
		--dark: #333333;
		--morado-claro: #BACDFF;
		--rosa: #E01656;
		--dark-sec: #666666;
	}
	body{
		background: rgb(186,205,255);
		background: linear-gradient(180deg, rgba(186,205,255,1) 0%, rgba(255,255,255,1) 100%);
		background-repeat: no-repeat;
		font-family: 'Space Mono', monospace;
		color: var(--dark);
	}

/* Fonts */

/* Textos */
	
	h1,h2,h3,h4,h5,h6{
		font-family: 'Mulish', sans-serif;
		font-weight: 700;
		color: var(--dark);
	}
	h1{
		font-size: 1.7rem
	}
	h2{
		font-size: 1.6rem;
	}

	p{
		font-family: 'Space Mono', monospace;
		font-size: .9rem;
	}

/* Navbar  */
	.navbar{
		background: transparent;
	}

	.navbar img{
		height: 70px;
	}



/* Botones */
	button{
		border-radius: 32px;
		border-style: none;
		padding: .6rem 1.5rem;
	}
	.button-main{
		background-color: var(--amarillo);
	}

/* Home / Landing */
	
	.home-landing{
		text-align: center;
	}
	.home-landing img{
		width: 90%;
	}
	.home-landing h1{
		padding: 0 1.2rem;
		margin-bottom: .5rem;
	}
	.home-landing p{
		padding: 0 1.5rem;
		margin-bottom: 1.5rem;
		color: var(--dark-sec);
	}
	.home-landing_carousel img{
		width: 70px;
		margin: 1.5rem .5rem ;
	}


	

/* Home / Cursos */

	.home-cursos{
		text-align: center;
	}
	.home-cursos h2{
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.home-cursos h2 span{
		height: 5px;
		width: 70px;
	    border-top: 4px solid var(--amarillo);
	    color: transparent;
	    margin-top: .5rem;
	}